{{!-- <h1>hello {{title}}</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{name1}}aur bhai ZInda ho?/ {{title}}</p>
    {{!-- <form action="/teacher/data" method="get"> --}}
        {{!-- <form action="/teacher/data" method="post"> --}}
         {{!-- <form action="/teacher/data?lname=shviam" method="post"> --}}
        <input type="text" name="fname" id="">
        <input type = "submit">
    </form>
</body>
</html> --}}

{{!-- part of Controller --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .menu {
            border: 10px;
            height: 100%;
            width: 10px;
        }
    </style>
</head>

<body>
    <p>{{name1}} has a {{verb}} on {{title}}</p>
    <form action="/teacher/data?lname=nitya" method="post">
        <input type="text" name="fname" id="">
        <input type="submit">
    </form>

</body>

</html> 